html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body, .wrapper{
	height: 100%;
}
body {
	line-height: 1.5;
	position: relative;
	background: #ddd;
	font-family: 'Lato', sans-serif;
}
ol, ul {
	list-style: none;
}
.wrapper{
	width: 100%;	
}
header,
footer{
	width: 100%;
	background: #333;
	color: #fff;
}
.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 20px;
}
.clear{
	clear: both;
}
.clearfix:before,
.clearfix:after{
	content: "";
	clear: both;
	display: table;
}
header nav{
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;
	text-align: right;
}
header nav li{
	display: inline-block;
	margin: 0 20px;
}
header .home{
	font-size: 20px;
	float: left;
}
a{
	color: #ff7e74;
	text-decoration: none;
}
nav.left-nav{
	margin: 0;
	padding: 0;
	float: left;
	width: 25%;
}
.text-area{
	min-height: 851px;
	float: left;
	width: 68%;
	padding: 0px 30px;
	border-left: 1px solid #2a6496;
	/*box-shadow: 0 0 12px 8px #ccc;*/
}
.text-area h2{
	color: #2a6496;
}
nav.left-nav ul{
	list-style: none;	
}
nav.left-nav ul li{
	display: block;
	font-size: 18px;
}
nav.left-nav ul li a{
	display: block;
	color: #333;
	padding: 10px 0;
	text-decoration: none;
	transition:0.4s;
}
nav.left-nav ul li a:hover{
	color: #2a6496;
}
footer{
	position: relative;	
	color: #ff7e74;
	text-align: center;
}